@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
}

<h2 id="caption">@ViewData["Title"]</h2>
<partial name="_StatusMessage" model="Model.StatusMessage" />