@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h2 id="caption">@ViewData["Title"]</h2>
    <p>You have successfully logged out of the application.</p>
</header>